body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
    border-radius: 10px;
    width: 12px;
}

::-webkit-scrollbar-track:hover {
    background-color: #ebebeb;
;
}

/* Handle */

::-webkit-scrollbar-thumb {
    background: #b9b8b8;
    border-radius: 10px;
}

.header {
    position: fixed;
    z-index: 100000;
    background-color: #f1f1f5;
    width: 100%;
    height: 10%;
    border-bottom: 2px solid #e2e1e1;
    display: flex;
    padding-top: 0;
    padding-bottom: 1%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.header h1{
    font-family: "Arial Rounded MT Bold";
    margin-left: 2%;
    margin-top: 1%;
    font-size: 30px;
    color: #3e4246;
}
.header h1 i{
    font-size: 25px;
    color: #4a4e54;
}
.header-fake{
    position: relative;
    width: 100%;
    height: 10%;
    padding-top: 0;
    padding-bottom: 1%;
}

.header img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0.5%;
    margin-left: 2%;
}

.header .header-info p {
    font-size: 20px;
    font-weight: 1000;
    margin-top: 1%;
    margin-bottom: 0;
    margin-left: 1%;
}

.header .header-info pre {
    font-size: 18px;
    margin-left: 1%;
    margin-top: 0%;
}

.header-info {
    width: 50%;
}

.main_frame{
    position: relative;
    height: 76%;
    overflow: auto;
}
.main_frame .main{
    position: relative;
    min-height: 100%;
    height: auto;
}
.main_frame .main .list_mess {
    position: absolute;
    width: 100%;
    bottom: 0;
}

.their_mess {
    display: block;
    position: relative;
    margin-left: 1%;
    margin-top: 0;
    margin-bottom: 1%;
}
.their_mess img{
    vertical-align: bottom;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
#sticker{
    display: none;
}

.mess_detail p img,.fake_mess p img{
    width: 150px;
    vertical-align: middle!important;
    height: auto;
    border-radius: 0!important;
    position: relative;
}
.chatIMG{
    width: 350px!important;
    height: 200px;
    cursor: pointer;
}

.my_mess {
    display: block;
    position: relative;
    margin: 1%;
    margin-top: 0;
    margin-bottom: 1%;
}

.my_time {
    display: none;
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 10%;
    left: -165px;
    padding: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;

}

.their_time {
    display: none;
    background-color: rgba(0, 0, 0, 0.61);
    position: absolute;
    top: 10%;
    right: -165px;
    padding: 10px 10px 10px 10px;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.their_mess .mess_detail {
    display: inline-block;
    position: relative;
    margin: 0;
    padding: 1%;
    margin-left: 0.5%;
    border-radius: 15px;
    border-bottom-left-radius: 0px;
    max-width: 40%;
    word-wrap: break-word;
    background-color: rgb(228, 230, 231);
}

.their_mess .mess_detail p {
    display: inline;
}
.their_mess .mess_detail h3 {
    display: block;
    margin-top: 2%;
    margin-bottom: 2%;
}

.my_mess .mess_detail {
    position: relative;
    display: inline-block;
    float: right;
    right: 0;
    direction: ltr;
    margin: 0;
    padding: 1%;
    border-radius: 15px;
    border-bottom-right-radius: 0px;
    max-width: 40%;
    word-wrap: break-word;
    background-color: #1877F2;
    color: rgb(255, 255, 255);
}

.fake_mess {
    display: inline-block;
    direction: ltr;
    max-width: 40%;
    margin: 0;
    padding: 1%;
    word-wrap: break-word;
    opacity: 0;
}

.fake_mess p {
    display: inline;
    opacity: 0;
}

.my_mess .mess_detail p {
    display: inline;
}

.chat-input {
    position: fixed;
    border-top: 2px solid #e5e5e5;
    bottom: 0;
    width: 100%;
    height: 12%;
    margin: 0;
    padding: 0;

}
.chat-input .input {
    position: relative;
    width: 98%;
    margin: 1% auto;
}
.chat-input .input input{
    width: 100%;
    font-size: 18px;
    padding: 14px 4% 14px 8%;
    border: none;
    border-radius: 15px;
    background-color: #e1e4e9;
    outline: none;
}

.fa-images{
    position: absolute;
    font-size: 25px;
    color: #1877F2;
    left: 0%;
    top: 0;
    cursor: pointer;
    padding: 1%;
}
.fa-location-arrow:hover{
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 50%;
}
.fa-sticky-note:hover{
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 50%;
}
.fa-images:hover{
    background-color: rgba(0, 0, 0, 0.03);
    border-radius: 50%;
}
.fa-sticky-note{
    position: absolute;
    font-size: 25px;
    color: #1877F2;
    left: 4%;
    top: 0%;
    padding: 1%;
    cursor: pointer;
}
.fa-location-arrow{
    position: absolute;
    transform: rotate(45deg);
    font-size: 25px;
    color: #1877F2;
    right: 0%;
    top: 0%;
    cursor: pointer;
    padding: 1%;
}



.comment-input {
    position: fixed;
    border-top: 2px solid #e5e5e5;
    bottom: 0;
    width: 100%;
    height: 12%;
    margin: 0;
    padding: 0;

}
.comment-input .input {
    position: relative;
    width: 96%;
    margin: 1% auto;
}
.comment-input .input input{
    width: 100%;
    font-size: 18px;
    padding: 14px 4% 14px 1.5%;
    border: none;
    border-radius: 15px;
    background-color: #e1e4e9;
    outline: none;
}


.sticker{
    display: none;
    position: fixed;
    background-color: #cedff5;
    width: 30%;
    height: 55%;
    z-index: 1000;
    bottom: 10%;
    left: 6%;
    border: 2px solid #3e4246;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    overflow: auto;
}
.sticker .listSticker{
    width: 100%;
}
.sticker img{
    cursor: pointer;
    width: 33%;
}


.modal {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 101000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.79);
    /* Black w/ opacity */
}

.modal-content {
    position: relative;
    top: 0;
    background-color: #f5f3f3;
    margin: auto;
    padding: 0;
    border: 3px solid rgb(165, 164, 164);
    width: 450px;
    height: 350px;
    border-radius: 5px;
    box-shadow: 15px 30px 10px 10px rgba(0, 0, 0, 0.2), 0 40px 20px 10px rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.5s;
    animation-name: animatetop;
    animation-duration: 0.5s
}

@-webkit-keyframes animatetop {
    from {
        top: -400px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -400px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}
.modal-content img{
    width: 450px;
    height: 350px;
}
.modal-content button{
    position: absolute;
    bottom: 1%;
    right: 1%;
    border: none;
    border-radius: 5px;
    width: 20%;
    color: white;
    background-color: #7d8798;
    padding: 2%;
}
.modal-content button:hover{
    background-color: #576a8b;
    cursor: pointer;
}
.close {
    position: absolute;
    color: rgb(100, 100, 100);
    right: 0;
    margin-right: 2%;
    font-size: 35px;
    font-weight: bold;
}
.close:hover{
    color: black;
    cursor: pointer;
}
.formImg{
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}
iframe{
    font-size: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0;
}

#formLoader{
    display: none;
}
.formLoader {
    overflow: hidden;
    height: 100%;
    position: absolute;
    width: 100%;
    min-height: 150px;
}

.formLoader ul {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 999999;
    margin: 0;
}

@keyframes preload {
    0% {
        background: #ed7c00;
        opacity: 1
    }
    50% {
        background: #fff;
        opacity: 0.5
    }
    100% {
        background: #ed7c00;
        opacity: 1
    }
}

.formLoader .formLoading {
    display: block;
    height: 14px;
    margin: 0 auto;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    position: absolute;
    width: 100%;
    padding: 0;
}

.formLoader .formLoading li {
    background: #fff;
    opacity: 0.5;
    display: block;
    float: left;
    width: 12px;
    height: 12px;
    border: 1px solid #ed7c00;
    line-height: 12px;
    padding: 0;
    position: relative;
    margin: 0 0 0 4px;
    animation: preload 1s infinite;
    top: -50%;
    border-radius: 50%;
}

.formLoader .formLoading li:first-child {
    margin-left: 0
}

.formLoader .formLoading li:nth-child(2) {
    animation-delay: .15s
}

.formLoader .formLoading li:nth-child(3) {
    animation-delay: .3s
}

.formLoader.formLoader-complete {
    opacity: 0;
    visibility: hidden;
    transition-duration: 1s
}