
a {
    text-decoration: none;
    color: #1972e7;
}

.header {
    width: 100%;
    height: 15%;
    border-bottom: 2px solid #d7d6d6;
    margin-bottom: 4%;
}

form textarea {
    padding: 2%;
    font-size: 16px;
    border-radius: 8px;
}

h3:not(.header) {
    color: #2c2c2c;
}

h3 span {
    color: #1972e7;
    cursor: pointer;
}

form input {
    padding: 1.5% 8% 1.5% 8%;
    float: right;
    margin-right: 3%;
    margin-top: 3%;
    cursor: pointer;
    background-color: #8d99af;
    color: white;
    border: none;
    border-radius: 5px;
}

form input:hover {
    background-color: #576a8b !important;
}


.title {
    display: flex;
    margin-top: 3%;
    margin-bottom: 3%;
}

.title img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 2%;
    margin-right: 3%;
}

.title h2 a {
    color: #c96904;
}

.title .left {
    display: flex;
    width: 45%;
}

.fa-arrow-right {
    width: 10%;
    margin-top: 2%;
    font-size: 40px;
}

.title .right {
    display: flex;
    width: 45%;
}

.fa-arrow-alt-circle-left {
    font-size: 25px;
}

.reportDetail {
    display: flex;
}

.reportDetail .left {
    width: 50%;
}

.reportDetail .left p {
    min-height: 30%;
    max-width: 80%;
    word-wrap: break-word;
    font-size: 18px;
}

.reportDetail .left span {
    font-size: 20px;
    font-weight: 600;
    color: #464646;
}

.reportDetail .right {
    width: 50%;
}

.reportDetail .right textarea {
    width: 90%;
    font-size: 18px;
}

.submitBtn {
    width: 20%;
    font-size: 20px;
    padding: 1%;
}

.main_frame {
    width: 80%;
    margin: 2% auto;
    background-color: #ebebeb;
    padding: 2%;
    border-radius: 10px
}

.main_frame form {
    margin-left: 3%;
}