table {
    border: none;
    width: 100%;
    background-color: rgb(243, 243, 243);
    text-align: center;
}

th {
    background-color: rgb(20, 20, 24);
    color: rgb(243, 243, 243);
}
.fa-edit::before{
    color: #1972e7!important;
    cursor: pointer;
}
.fa-eye::before{
    color: #1972e7!important;
    cursor: pointer;
}
